@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@300&display=swap');

.banner {
    width: 90%;
    text-align: center;
    font-size: 40px;
    background-color: #ffbc04d5;
    height: 150px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Noto Serif Telugu', serif;
    color: rgb(72, 67, 67);
}
.sectionTitle{
    margin-top: 2%;
}
.containerHome{
    width: 100%;
    display: flex;
}
.homeImage{
    width: 35%;
    margin: 0 auto;
}
.userIcon{
    font-size: 25px;
}

@media (max-width: 600px) {
    .banner {
        height: 70px;
       
    }
}